<html>
    <h1>
        <body>
            <h1>Hello World! This is a template on <%= node['fqdn'] %></h1>
            <h1> Additional information: <%= node['cloud']['public_hostname'] %></h1>
        </body>
    </h1>
</html>
